* 
body{
    margin: 0; /*Para el margen*/
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #202124;
}

a{
    text-decoration: none; /*Se quita la decoracion de linea*/
    cursor: pointer;/*Cuando pasan por el link hay una manita*/
}

header{
    width: 100%;
    height: 60px; /*que tan altoe es la etiqueta del header*/
}
header nav{/*Ser especifico de un header y hay un nav dentro*/
    display: flex;/*JUSTIFICAR EL CONTEIDO ya sea central izq, o der*/
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;/*Automatica ya que el padre no puede ser superado*/
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon{ 
    background-image: url('https://cdn-icons-png.flaticon.com/128/3603/3603178.png');
    background-repeat: no-repeat;/*No se repetira la imagen para llebar los espacios*/
    background-position: center;
    background-size: contain; /*Se lograra al tamaño del contenedor*/
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
}

/*nav .nav-right-section li:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #000001;
    color: #222;
}*/

nav .nav-right-section img {
    border-radius: 100%;
    margin-left: 15px;
}

main{
    margin-top: 150px;
    text-align: center;
}
 main .main-logo{
     width: 530px;
     margin: 0 auto; 
     margin-bottom: 35px;
 }

 main .main-logo img{
     width: 300px;
 }
 main .main-input{
     width: 530px;
     margin: 0 auto;
     margin-bottom: 35px;
 }
 main .main-input-container{
     width: 525px;
     border-radius: 100px;
     border: 1px solid #dfe1e5;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 main .main-input input{
     width: 450px;
     height: 34px;
     border: none;/*Quita el borde azul*/
     outline: none;
 }
 main .main-input-container:hover { /*El elemnto hover es un efecto de CSS tipo trigger*/
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
 }

main .main-input .search-icon {
    background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 26px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px; /*Espacio interno con el contenedor padre, 15px de Der a Izq*/
    margin-right: 15px;
    cursor: pointer;
}
main .main-buttons button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px #000001; /*sombra generadora*/
    color: #222;
}

footer { /*Para que el footer siempre este debajo de la pagian*/
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid; /*Secciones*/
    grid-template-columns: 1fr 1fr; /*2 SECCIONES*/
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top:1px solid #e4e4e4 ;
}
footer ul{
    margin: 10px;
    list-style: none; /*Recetea el estilo que tiene*/
    display: flex;
    padding-left: 0;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    margin: 10px;
    color: #5f6368;
}

/*main .main-input .search-icon{
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}
main .main-input .micro-icon{
   background-image: url('');
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   width: 18px;
   height: 18px;
   cursor: pointer;
}*/